.container{
    display: inline-flex;
    padding: 22px 49px;
    align-items: center;
    gap: 54px;
    background: #FFF;
    width: 73.78vw;
    position: relative;
    float: right;
    margin-top: -669px;
}

.hold{
    display: flex;
    align-items: flex-start;
    gap: 789px;
}
.profile{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}